{%extends 'layout.html'%}
{%load static %}
{% block content %}
    <h2 class = "text-center text-white mt-4">This is form page.</h2>
    <h3 class = "text-center text-white mt-4">Create new Post</h3>
  


  

    <div class="container mt-4">
        <form method="POST" enctype="multipart/form-data" class="p-4 bg-dark text-white rounded">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success mt-2">Post Tweet</button>
        </form>
        <button>
            <a href = "{%url 'base'%}">Back to home Page</a>
        </button>
    
    </div>
{% endblock %}
